<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124622173320-f771vqoke0v73ii1qfd1imdcsfm70i13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124622173320-f771vqoke0v73ii1qfd1imdcsfm70i13</string>
	<key>API_KEY</key>
	<string>AIzaSyBkTM2uCwB98ZEHFKWpvhrrTgQsPmmQ5gY</string>
	<key>GCM_SENDER_ID</key>
	<string>124622173320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tradeiq</string>
	<key>PROJECT_ID</key>
	<string>tradeiq-3a498</string>
	<key>STORAGE_BUCKET</key>
	<string>tradeiq-3a498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124622173320:ios:59798e6c85b684cb295b3d</string>
</dict>
</plist>